GeoMapsPrototype/GeoMapsPrototype/Platforms/Android/AndroidManifest.xml
GeoMapsPrototype/GeoMapsPrototype/Platforms/Android/AndroidManifest.xml
GeoMapsPrototype/GeoMapsPrototype/Platforms/Android/AndroidManifest.xml
